
<!-- <div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>
 -->
 <app-menufeed></app-menufeed>
 <router-outlet></router-outlet>
 <!-- <app-menufeed></app-menufeed>
<div style="padding-left:16px">
  <h2>Bloomberg Feed</h2>
  <h3>Amit Vankadhara</h3>
  <p>Project</p>
</div>
-->
<!-- <table> 
  <thead>
    <tr>
      <th>Month</th>
      <th>Years</th>
       <th>Savings</th>
        <th>YTD</th>
         <th>MTD</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>January</td>
      <td>2021</td>
      <td>$120</td>
      <td>$105</td>
      <td>$20</td>
    </tr>
    <tr>
      <td>February</td>
      <td>2021</td>
      <td>$80</td>
      <td>$150</td>
      <td>$40</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Sum</td>
      <td>2021</td>
      <td>$200</td>
      <td>$300</td>
      <td>20$</td>
    </tr>
  </tfoot>
</table> -->